<footer class="block block--dark footer">
  <div class="container grid footer__section">
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>

        <span class="icon-container">
          <svg class="icon icon--white collapsible__arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </span>
      </header>

      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">WordPress Hosting</li>
          <li class="list__item">Free Automated WordPress</li>
          <li class="list__item">Migration</li>
          <li class="list__item">Domain Names</li>
          <li class="list__item">Monthly Web Hosting</li>
        </ul>
      </div>
    </div>

    <hr />
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <span class="icon-container">
          <svg class="icon icon--white collapsible__arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </span>
      </header>

      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">About</li>
          <li class="list__item">Affiliates</li>
          <li class="list__item">Blog</li>
          <li class="list__item">Careers</li>
          <li class="list__item">News</li>

          <li class="list__item">Green Hosting</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">SUPPORT</h2>
        <span class="icon-container">
          <svg class="icon icon--white collapsible__arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </span>
      </header>

      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">Contact</li>
          <li class="list__item">Knowledge Base</li>
          <li class="list__item">Forums</li>
          <li class="list__item">Web Hosting</li>
          <li class="list__item">DreamCompute</li>

          <li class="list__item"></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">DOMAINS</h2>
        <span class="icon-container">
          <svg class="icon icon--white collapsible__arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </span>
      </header>

      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">Domain Checker</li>
          <li class="list__item">Domain Transfer</li>
          <li class="list__item">Free Domain</li>
          <li class="list__item">XYZ Domain</li>
          <li class="list__item">Cheap SSL Certificate</li>

          <li class="list__item"></li>
        </ul>
      </div>
    </div>

    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2023 Abishek Das</p>
    </section>
  </div>
</footer>
